*{
    margin:0;
    padding:0;
}

.cabecalho {
    background-color:#058a78;
    color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

.cabecalho-imagem{
    width:20%;
}

.cabecalho-lista-item{
    display:inline-block;
    margin:0 16px;
    font-size: 28px;
    font-family:initial;
}